
.metadata/.lock
.metadata/.log
.metadata/.plugins/com.windriver.ide.core/vxworks-6.9/BoardSupportPackageProject
.metadata/.plugins/com.windriver.ide.core/vxworks-6.9/DownloadableKernelModuleProject
.metadata/.plugins/com.windriver.ide.core/vxworks-6.9/RealTimeProcessProject
.metadata/.plugins/com.windriver.ide.core/vxworks-6.9/SharedLibraryProject
.metadata/.plugins/com.windriver.ide.core/vxworks-6.9/UserProject
.metadata/.plugins/com.windriver.ide.core/vxworks-6.9/VxWorksImageProject
.metadata/.plugins/com.windriver.ide.core/workbench/ApplicationProject
.metadata/.plugins/com.windriver.ide.core/workbench/UserProject
.metadata/.plugins/org.eclipse.cdt.core/.log
.metadata/.plugins/org.eclipse.cdt.make.core/specs.c
.metadata/.plugins/org.eclipse.cdt.make.core/specs.cpp
.metadata/.plugins/org.eclipse.core.resources/.root/.indexes/history.version
.metadata/.plugins/org.eclipse.core.resources/.root/.indexes/properties.index
.metadata/.plugins/org.eclipse.core.resources/.root/.indexes/properties.version
.metadata/.plugins/org.eclipse.core.resources/.root/1.tree
.metadata/.plugins/org.eclipse.core.resources/.safetable/org.eclipse.core.resources
.metadata/.plugins/org.eclipse.core.runtime/.settings/com.windriver.ide.ui.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.cdt.ui.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.core.resources.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.debug.ui.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.rse.core.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.rse.ui.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ui.ide.prefs
.metadata/.plugins/org.eclipse.rse.core/.log
.metadata/.plugins/org.eclipse.rse.core/initializerMarks/org.eclipse.rse.internal.core.RSELocalConnectionInitializer.mark
.metadata/.plugins/org.eclipse.rse.core/profiles/PRF.w0d222618c1969b_20513/FP.com.windriver.ide.target.ui.rse.wrregistry_0/node.properties
.metadata/.plugins/org.eclipse.rse.core/profiles/PRF.w0d222618c1969b_20513/FP.local.files_0/node.properties
.metadata/.plugins/org.eclipse.rse.core/profiles/PRF.w0d222618c1969b_20513/H.local_16/node.properties
.metadata/.plugins/org.eclipse.rse.core/profiles/PRF.w0d222618c1969b_20513/node.properties
.metadata/.plugins/org.eclipse.rse.ui/.log
.metadata/.plugins/org.eclipse.rse.ui/dialog_settings.xml
.metadata/.plugins/org.eclipse.ui.workbench/dialog_settings.xml
.metadata/.plugins/org.eclipse.ui.workbench/workbench.xml
.metadata/.plugins/org.eclipse.ui.workbench/workingsets.xml
.metadata/version.ini
.metadata/wrversion.ini
RemoteSystemsTempFiles/.project
YPopova_CFlory_RTES/test.c
